.hero-box{
    font-weight: 1;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    
}


.hero-secondary-text{
    font-weight: 18;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left{
    display: flex;
    flex-direction: column;
}
.header-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    margin-left: 100px;
}

.headerlinks{
    display: flex;
    flex: 1;
    color: #F9FAF8;
    list-style-type: none;
    justify-content: right;
    margin-right: 100px;

}

.headerlinks li{
    margin-left: 50px;
    font-size: 18px;
}

.topofpagebox {
background-color: #1F2937;
}