html {
    background-color:mintcream
    scroll-behavior: smooth;
}

* {
    font-family: 'Lato', sans-serif;
}

.topofpagebox {
    background-color: #1F2937;
    margin: 
    }
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    margin-left: 100px;
}
.header-logo{
    font-size: 18px;
    color: #F9FAF8;;
    border: 2px solid white;
    padding: 5px;
    border-radius: 75%;
    text-shadow: 4px 4px black;
    box-shadow: 4px 4px black;
}
.headerlinks{
    display: flex;
    flex: 1;
    color: #F9FAF8;
    list-style-type: none;
    justify-content: right;
    margin-right: 100px;

}
.headerlinks li{
    margin-left: 50px;
    font-size: 16px;
    font-weight: 200;
}
.headerlinks a{
    text-decoration: none;
    display: block;
    color: white;
}
.hero-box{
    font-weight: 1;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding: 100px;
    text-shadow: 4px 4px black;
}
.hero-secondary-text{
    font-weight: 18;
    font-size: 18px;
    color: #E5E7EB;
    text-shadow: none;
}
.hero-left{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.hero-image{
    background-color: #E5E7EB;
    color: black;
    padding: 10px;
    text-shadow: none;

}
button {
    border-radius: 6px;
    max-width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    box-shadow:  2px 2px black;

}

button:hover{
    background-color:#1F2937;
    transition: 0.4s;
}
.headerlinks a:hover{
    background-color:#0f141b;
    transition: 0.4s;
    cursor: pointer;
}
button:focus{
    background-color:#1F2937;
    transition: 0.4s;
}
button:active,
.headerlinks a:active{
   background-color: whitesmoke;
   transition: 0.2s; 
}
.info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.infobox-wrapper{
    display: flex;
    justify-content: center;
}
.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-shadow: 1px 1px gray;
}
.infoarea{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150 px;
}
.infobox{
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.quote-section{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}
.quote-author{
    display: flex;
    justify-content: right;
    font-size: 24px;
    font-weight: 800;
}
.calltoaction-section{
    background-color: #3882F6;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}
.calltoaction-text{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 800;
}

.calltoaction-subtext{
    font-size: 18px;
    font-weight: 200;
}
.calltoaction-section button{
    max-height: 50px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    font-size: 12px;
}